nodered.json
[{"id":"d13d5bae.ddef68","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"a4281efa.25e6f","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"d67e46ed.e24cb8","type":"http in","z":"d13d5bae.ddef68","name":"Alexaからの入力を取得","url":"/HelloWorld","method":"post","upload":false,"swaggerDoc":"","x":210.8333282470703,"y":403.333309173584,"wires":[["cccc34d6.8d46a8","dffd3e5.7d924c"]]},{"id":"cccc34d6.8d46a8","type":"switch","z":"d13d5bae.ddef68","name":"リクエストからインテントで分配","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":500.1666717529297,"y":407.0000057220459,"wires":[["aa3893b9.0b81d"],["baae4140.7dcde"],["5ab60601.d01ba8"],["aa3893b9.0b81d"]]},{"id":"baae4140.7dcde","type":"switch","z":"d13d5bae.ddef68","name":"インテント分配","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"HelloWorldIntent","vt":"str"},{"t":"eq","v":"HelpIntent","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":817.1665954589844,"y":440.66665840148926,"wires":[["7c83f9c2.fd4f48"],["aa3893b9.0b81d"],["5ab60601.d01ba8"]]},{"id":"aa3893b9.0b81d","type":"template","z":"d13d5bae.ddef68","name":"最初に出力される言葉","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello World!こんにちはと言ってください！","output":"str","x":825.8333282470703,"y":360.33333683013916,"wires":[["9d2a1b57.d83148"]]},{"id":"da398d95.84748","type":"template","z":"d13d5bae.ddef68","name":"レスポンスを作成","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\":\"1.0\",\n  \"response\":{\n    \"outputSpeech\": {\n     \"type\":\"SSML\",\n      \"ssml\":\"<speak> {{payload}}。 </speak>\"\n    },\n\t\"directives\": [{\n\t\t\"type\": \"Display.RenderTemplate\",\n\t\t\"template\": {\n\t\t\"type\": \"BodyTemplate1\",\n\t\t\"backgroundImage\": {\n\t\t    \"sources\": [{\n\t\t        \"url\": \"{{{imageload}}}\",\n\t\t\t    \"widthPixels\": 0,\n\t\t\t    \"heightPixels\": 0\n\t\t    }]\n\t\t},\n\t\t\"backButton\": \"VISIBLE\"\n\t\t}\n\t}],\n    \"shouldEndSession\":false\n  }\n}","output":"json","x":1285.1666793823242,"y":359.66668128967285,"wires":[["c4d51b69.e3a5c8"]]},{"id":"c4d51b69.e3a5c8","type":"json","z":"d13d5bae.ddef68","name":"jsonに変換","property":"payload","action":"","pretty":false,"x":1502.8334350585938,"y":354.00000762939453,"wires":[["3b6f7e4b.cc6062","c70958af.f2a748"]]},{"id":"3b6f7e4b.cc6062","type":"http response","z":"d13d5bae.ddef68","name":"リクエストを返却","statusCode":"","headers":{},"x":1688.1664848327637,"y":354.33337688446045,"wires":[]},{"id":"dffd3e5.7d924c","type":"debug","z":"d13d5bae.ddef68","name":"入力のログを出力","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":206.1666717529297,"y":440.333309173584,"wires":[]},{"id":"9d2a1b57.d83148","type":"template","z":"d13d5bae.ddef68","name":"画像のURLを追加","field":"imageload","fieldType":"msg","format":"html","syntax":"plain","template":"https://example.jpg","output":"str","x":1064.8333740234375,"y":360.33338928222656,"wires":[["da398d95.84748"]]},{"id":"c70958af.f2a748","type":"debug","z":"d13d5bae.ddef68","name":"出力のログを出力","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1690.1666641235352,"y":386.6666889190674,"wires":[]},{"id":"5ab60601.d01ba8","type":"template","z":"d13d5bae.ddef68","name":"セッションエンド","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\":\"1.0\",\n  \"response\":{\n    \"outputSpeech\": {\n     \"type\":\"PlainText\",\n      \"text\":\"またよろしくお願いします！\"\n    },\n    \"shouldEndSession\":true\n  }\n}","output":"str","x":1057.1666450500488,"y":803.3333101272583,"wires":[["c4d51b69.e3a5c8"]]},{"id":"7c83f9c2.fd4f48","type":"function","z":"d13d5bae.ddef68","name":"乱数出力","func":"let rand = Math.floor(Math.random()*2);\nlet text = [\n    \"こんにちワールド\",\n    \"こんばんワールド\"\n];\nlet url = [\n    \"https://example.jpg\",\n    \"https://example.jpg\"\n]\n\nmsg.payload={\n    \"d1\": text[rand],\n    \"d2\": url[rand]\n};\nreturn msg;","outputs":1,"noerr":0,"x":1059.166790008545,"y":439.66667556762695,"wires":[["b7cd6324.39526"]]},{"id":"b7cd6324.39526","type":"template","z":"d13d5bae.ddef68","name":"レスポンスを作成","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\":\"1.0\",\n  \"response\":{\n    \"outputSpeech\": {\n     \"type\":\"SSML\",\n      \"ssml\":\"<speak> {{payload.d1}}。 </speak>\"\n    },\n\t\"directives\": [{\n\t\t\"type\": \"Display.RenderTemplate\",\n\t\t\"template\": {\n\t\t\"type\": \"BodyTemplate1\",\n\t\t\"backgroundImage\": {\n\t\t    \"sources\": [{\n\t\t        \"url\": \"{{{payload.d2}}}\",\n\t\t\t    \"widthPixels\": 0,\n\t\t\t    \"heightPixels\": 0\n\t\t    }]\n\t\t},\n\t\t\"backButton\": \"VISIBLE\"\n\t\t}\n\t}],\n    \"shouldEndSession\":true\n  }\n}","output":"str","x":1243.9999694824219,"y":439.6666603088379,"wires":[["c4d51b69.e3a5c8"]]},{"id":"c2a2f8f.bd77908","type":"template","z":"d13d5bae.ddef68","name":"最初に出力される言葉","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello World","output":"str","x":609,"y":81,"wires":[["dad91cc2.a1421"]]},{"id":"dad91cc2.a1421","type":"template","z":"d13d5bae.ddef68","name":"画像のURLを追加","field":"imageload","fieldType":"msg","format":"html","syntax":"plain","template":"https://example.jpg","output":"str","x":824,"y":81,"wires":[["d3f9660a.4082a8"]]},{"id":"d3f9660a.4082a8","type":"template","z":"d13d5bae.ddef68","name":"レスポンスを作成","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\":\"1.0\",\n  \"response\":{\n    \"outputSpeech\": {\n     \"type\":\"SSML\",\n      \"ssml\":\"<speak> {{payload}}。 </speak>\"\n    },\n\t\"directives\": [{\n\t\t\"type\": \"Display.RenderTemplate\",\n\t\t\"template\": {\n\t\t\"type\": \"BodyTemplate1\",\n\t\t\"backgroundImage\": {\n\t\t    \"sources\": [{\n\t\t        \"url\": \"{{{imageload}}}\",\n\t\t\t    \"widthPixels\": 0,\n\t\t\t    \"heightPixels\": 0\n\t\t    }]\n\t\t},\n\t\t\"backButton\": \"VISIBLE\"\n\t\t}\n\t}],\n    \"shouldEndSession\":false\n  }\n}","output":"json","x":1033,"y":81,"wires":[[]]},{"id":"1ca3a12.d2beb5f","type":"comment","z":"d13d5bae.ddef68","name":"画像を出力したい場合はここを読む","info":"画像を出力したい場合は下記の三つをコピペして\njsonに変換につなげてください\n\n出力する言葉を変換したい場合は\n「出力する言葉」のノードを編集するだけです。\n画像を変換したい場合は\n「画像のURLを追加」のノードを編集するだけです。","x":811.5,"y":33,"wires":[]},{"id":"8d4648bf.5db528","type":"comment","z":"d13d5bae.ddef68","name":"文字だけ出力したい場合はここを読む","info":"文字だけを出力したい場合は下記二つをコピペして\njsonに変換につなげてください。\n\n出力する言葉を変換したい場合は\n「出力する言葉」のノードを編集するだけです。","x":1442,"y":35,"wires":[]},{"id":"35f3ea0b.664cd6","type":"template","z":"d13d5bae.ddef68","name":"レスポンスを作成","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\":\"1.0\",\n  \"response\":{\n    \"outputSpeech\": {\n     \"type\":\"PlainText\",\n      \"text\":\"{{payload.d1}}\"\n    },\n    \"shouldEndSession\":true\n  }\n}","output":"str","x":1557,"y":82,"wires":[[]]},{"id":"5df722c6.5d637c","type":"template","z":"d13d5bae.ddef68","name":"出力する言葉","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"こんにちは","output":"str","x":1344,"y":82,"wires":[["35f3ea0b.664cd6"]]},{"id":"f68a233d.2735a","type":"comment","z":"d13d5bae.ddef68","name":"インテントについて","info":"インテントはAlexa Skills Kitから追加します。\nAlexa Skills Kitから追加したインテントを\nインテント分配のノードで増やしてください。\nそうすることで、新たな分岐を作成することができます。\n\nそのインテントの分岐に応じて\n出力する言葉を変えることができたり、\n画像の内容を変えることができます。","x":819.1666412353516,"y":484.9999990463257,"wires":[]},{"id":"88eabc47.a6e5b","type":"comment","z":"d13d5bae.ddef68","name":"乱数について","info":"乱数を出力することによって、\n画像をランダムに出したり、\n文字をランダムに出したりすることができます。\n\nここでは\narrayの中身を変えることで出力する文字を\n変えることができます。","x":1056.6667098999023,"y":486.6666145324707,"wires":[]},{"id":"68fcda2d.cff7a4","type":"comment","z":"d13d5bae.ddef68","name":"ここより手前はいじる必要なし","info":"ここより手前は、Alexaをめちゃくちゃカスタマイズ\nしたくなった人以外はいじる必要ありません。","x":497.49998474121094,"y":354.9999885559082,"wires":[]},{"id":"27c10190.866ede","type":"comment","z":"d13d5bae.ddef68","name":"ここより奥はいじる必要なし","info":"ここより奥は、Alexaをめちゃくちゃカスタマイズ\nしたくなった人以外はいじる必要ありません。","x":1308.3333435058594,"y":313.3333349227905,"wires":[]}]
